<div id="<%= dom_id password_record %>" class="my-6 p-4 bg-white shadow-sm rounded-lg border border-gray-200">
  <div class="space-y-4">

    <div class="flex items-center">
      <strong class="w-24 text-gray-700">Username:</strong>
      <span class="text-gray-900"><%= password_record.username %></span>
    </div>

    <div class="flex items-center">
      <strong class="w-24 text-gray-700">Password:</strong>
      <span class="text-gray-900"><%= password_record.password %></span>
    </div>

    <div class="flex items-center">
      <strong class="w-24 text-gray-700">URL:</strong>
      <%= link_to password_record.url, password_record.url, target: "_blank", class: "text-blue-600 hover:text-blue-800 underline" %>
    </div>

    <div class="flex items-center">
      <strong class="w-24 text-gray-700">Made By:</strong>
      <span class="text-gray-900"><%= password_record.user.display_name %></span>
    </div>
  </div>
</div>
