<div id="<%= dom_id password_record %>" class="my-5 space-y-5">
  <div>
    <strong class="font-medium mb-1">Title : </strong>
    <%= password_record.title %>
  </div>
  <div>
    <strong class="font-medium mb-1">Username : </strong><%= password_record.username %>
  </div>
  <div>
    <strong class="font-medium mb-1">Password : </strong>
    <%= password_record.password %>
  </div>
  <div>
    <strong class="font-medium mb-1">Url : </strong>
    <%= password_record.url %>
  </div>
  <div>
    <strong class="font-medium mb-1">Made By : </strong>
    <%= password_record.user.display_name %>
  </div>

</div>
